// interpolation
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args

// mixins
note-start-border-radius(n)
	vendor("border-top-left-radius", n)
	vendor("border-bottom-left-radius", n)

note-end-border-radius(n)
	vendor("border-top-right-radius", n)
	vendor("border-bottom-right-radius", n)

transition(time)
	vendor('transition', left time linear)

arrow-up(size, color)
	width: 0;
	height: 0;
	border-left: size solid transparent;
	border-right: size solid transparent;
	border-bottom: size solid color;

// color variables
thibaud = #44ACCF
jaimito = #EE3E64
acekat = #B7D84B 
esj = #8904B1
grizix = #E2A741
berthou = #000000
link-color = #00B7FF
bg-color = #E0E0E0
win-color = #ACACAC
bd-color = #747474


/*
 * CSS reset
 */
html, button, input, select, textarea 
	color: #222
body
	margin: 0 ; font-size: 1em ; line-height: 1.4
a:focus
	outline: thin dotted
a:hover, a:active
	outline: 0
b, strong
	font-weight: bold
div
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

/*
.clearfix:before, .clearfix:after
	content: ""
	display: table
.clearfix:after
	clear: both
*/


/*
 * Styling
 */
body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	min-width: 960px
	padding: 30px

a
	color: link-color

header, footer
	padding: 0 20px
	background: bg-color

header
	overflow: hidden
	h1
		float: left
	span
		color: link-color
	#credentials
		float: right

footer
	p
		text-align: center

#content
	padding: 20px

.module
	display: inline-block
	vertical-align: top
	padding: 5px

.instrument
	width: 15%

.controls
	width: 15%
	.warn
		display: none
	.tools
		padding: 5px 0
	.player
		padding: 20px 0
		.tempo
			&.verySlow
				input[name=tempoText]
					border-color: blue
					&:focus
						outline-color: blue
			&.veryFast
				input[name=tempoText]
					border-color: red
					&:focus
						outline-color: red
			&.verySlow, &.veryFast
				input[name=tempoSlide]
					opacity: 0.5
					&:hover
						opacity: 1


// editor variables
piano-win-width = 40px
grid-win-height = 300px
cell-height = 12px
pitch-style()
	height: cell-height
	border-bottom: 1px solid bd-color

.grid
	position: relative
	width: 70%
	
	.layer-info-win
		margin-left: 40px
		margin-right: 15px
		background: win-color
		border: 1px solid
		overflow: hidden

	.layer-info
		display: table-cell
		white-space: nowrap

	.block-layer-info
		display: inline-block
		width: 200px
		min-width: 100px
		height: 100%
		border-right: 1px solid bd-color

	.piano
		float: left
		margin-bottom: 15px
		width: piano-win-width
		height: grid-win-height - 15px
		background: win-color
		border: 1px solid
		overflow: hidden

	.piano-key
		position: relative
		width: 100%
		height: cell-height
		
		&.white
			border-bottom: 1px solid bd-color
			background: #EFEDEB
			span
				position: absolute
				bottom: 0
				right: 4px
				font-size: 8px
			&.A1, &.G1, &.A2, &.G2, &.A3, &.G3, 
			&.A4, &.G4, &.A5, &.G5, &.A6, &.G6,
			&.A7, &.G7, &.B1, &.F1, &.B2, &.F2,
			&.B3, &.F3, &.B4, &.F4, &.B5, &.F5,
			&.B6, &.F6, &.B7, &.F7 
				height: ((cell-height*7)/4)
			&.E1, &.C1, &.E2, &.C2, &.E3, &.C3, 
			&.E4, &.C4, &.E5, &.C5, &.E6, &.C6,
			&.E7, &.C7, &.D1, &.D2, &.D3, &.D4,
			&.D5, &.D6, &.D7
				height: ((cell-height*5)/3)

		&.black
			z-index: 1
			width: 70%
			margin: -(cell-height/2) 0
			border-width: 2px 7px 2px 0
			border-color: bd-color 
			border-style: outset outset inset none 
			background: #7C7C7C

	.grid-win
		position: relative
		height: grid-win-height
		background: win-color
		border: 1px solid
		overflow-x: scroll
		overflow-y: auto

	.grid-inner
		position: relative
		display: table-cell
		white-space: nowrap
		background: bg-color url("../images/grid-bg.png")

	.cursor
		position: absolute
		left: 0px
		height: 100%
		width: 1px
		background: #DF013A
		z-index: 10
		&.translate
			transition(4s)

	.block
		display: inline-block
		position: relative
		vertical-align: top
		width: 200px
		min-width: 100px
		border-right: 1px solid bd-color

	.layers-tabs
		list-style: none
		margin: 0
		padding: 0
		li
			float: left
		button.selected
			font-weight: bold
			color: link-color
		.add-layer
			width: 20px

	.layer
		position: absolute
		display: table
		table-layout: fixed
		width: 100%
		
	.pitch
		display: table-row
		
	.cell
		display: table-cell
		height: cell-height
		border-bottom: 1px solid bd-color

	.cell.on
		background: link-color
		&.user-thibaud
			background: thibaud
		&.user-jaimito
			background: jaimito
		&.user-acekat
			background: acekat
		&.user-esj
			background: esj
		&.user-grizix
			background: grizix
		&.user-berthou
			background: berthou

	.layer.editable
		position: relative
		.cell:not(.editable)
			border-right: 1px dotted bd-color
		.cell.on:not(.note-end)
			border-right: none

	.note-start
		note-start-border-radius(6px)

	.note-end
		note-end-border-radius(6px)

.login.thibaud
	color: thibaud
	
.login.jaimito
	color: jaimito

.login.acekat
	color: acekat
	
.login.esj
	color: esj

.login.grizix
	color: grizix

.login.berthou
	color: berthou


.flash
	display: inline-block
	padding: 0 5px

.warn
	color: #DF013A
	background: #F5A9A9
	border: 1px solid #DF013A
