#container
	margin 20px
	.note
		float left
		clear left
		.box
			float left
			width 30px
			height 15px
			border 1px solid black
			&:first-child
				border none

#do.box.on
	background #ee3e64

#mi.box.on
	background #b7d84b

#sol.box.on
	background #44accf
