/*color variables*/
thibaud = #44ACCF
jaimito = #EE3E64
acekat = #B7D84B 
esj = #8904B1
grizix = #E2A741
berthou = #000000

body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	min-width: 960px
	padding: 30px

a
	color: #00B7FF

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-left {
	clear: left;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

#header,
#footer {
	padding: 0 20px;
	background: #F2F2F2;
}

#footer p {
	text-align: center;
}

.no {
	font-size: .5em;
	text-decoration: line-through;
}

#content {
	padding: 20px;
}

.flash {
	display: inline-block;
	padding: 5px;
}

.warn {
	color: #DF013A;
	background: #F5A9A9;
	border: 1px solid #DF013A;
}

.blue {
	color: #00B7FF;
}

.grid
	width: 75%
	height: 300px
	margin: auto
	background: #ddd
	border: 1px solid
	overflow: auto

.grid-layer
	display: table-cell
	white-space: nowrap
	width: 9999px
	
.bar-container
	display: inline-table
	width: 25%
	border-right: 1px solid #aaa
	
.pitch
	display: table-row
	
.note
	display: table-cell
	width: 1%
	height: 25px
	border-right: 1px dotted #bbb

.pitch:nth-child(odd)
	background: #ccc

.pitch:nth-child(even)
	background: #ddd

.login.thibaud
	color: thibaud
	
.login.jaimito
	color: jaimito

.login.acekat
	color: acekat
	
.login.esj
	color: esj

.login.grizix
	color: grizix

.login.berthou
	color: berthou

//.note.on background: #00B7FF

.note.on.login-thibaud
	background: thibaud

.note.on.login-jaimito
	background: jaimito

.note.on.login-acekat
	background: acekat

.note.on.login-esj
	background: esj

.note.on.login-grizix
	background: grizix

.note.on.login-berthou
	background: berthou