header#header
	h1#title 
		a(href='/') JaSMEd
		|  <span>Ja</span>va<span>S</span>cript <span>M</span>usic <span>Ed</span>itor
	#credentials
		if (session.login)
			p locked in as 
				span(class='login #{session.login}') #{session.login}
			a(href='/logout') logout
		else
			p please lockin to the ting!
			p
				a(href='/login') login