p ZE INSTRUMENTE!
.waveFormSelector
	p choose that wave!!
	.option
		input(type='radio', name='waveForm', value='sine', checked)
		label(for='sine') sine
	.option
		input(type='radio', name='waveForm', value='square')
		label(for='square') square
	.option
		input(type='radio', name='waveForm', value='sawTooth')
		label(for='sawTooth') saw tooth