.trackSelector
	p select track to play:
	.option
		input(type='radio', id='demo', name='track', value='demo')
		label(for='demo') demo (no work)
	.option
		input(type='radio', id='grid', name='track', value='grid', checked)
		label(for='grid') grid

.playerControls
	button.playPause play
	button.stop stop
