script(src="/socket.io/socket.io.js")

// Vendor (order matters)
script(src="/javascripts/vendor/jquery-1.7.2.js")
script(src="/javascripts/vendor/underscore.js")
script(src="/javascripts/vendor/backbone.js")
script(src="/javascripts/vendor/audiolib.js")

// Backbone App
script(src="/javascripts/client.js")

// Modules
script(src="/javascripts/modules/communicator.js")
script(src="/javascripts/modules/utils.js")
script(src="/javascripts/modules/structure.js")
script(src="/javascripts/modules/editorModels.js")
script(src="/javascripts/modules/player.js")
script(src="/javascripts/modules/demo.js") // frère jacques!

// TO-DO in production, all views in one view file...
// Views
script(src="/javascripts/views/toolsView.js")
script(src="/javascripts/views/playerView.js")
script(src="/javascripts/views/editorViews.js")
script(src="/javascripts/views/instrumentView.js")