script(src="/socket.io/socket.io.js")

dev = false
vendors = ['jquery', 'underscore', 'backbone', 'runtime', 'audiolib']

// Vendor libraries (runtime is jade-runtime)
each vendor in vendors
  script(src='/javascripts/vendor/' + vendor + (dev ? '' : '.min') + '.js')

// Backbone App
script(src="/javascripts/jasmed.js")

// Start it all up!!
script
  require('jasmed');
