script(src="/socket.io/socket.io.js")

// Vendor (order matters)
script(src="/javascripts/vendor/jquery-1.7.2.min.js")
script(src="/javascripts/vendor/underscore-min.js")
script(src="/javascripts/vendor/backbone-min.js")
script(src="/javascripts/vendor/audiolib.min.js")

// Backbone App
script(src="/javascripts/jasmed.js")

// Modules
script(src="/javascripts/modules/communicator.js")
script(src="/javascripts/modules/utils.js")
script(src="/javascripts/modules/structure.js")
script(src="/javascripts/modules/editor.js")
script(src="/javascripts/modules/player.js")
script(src="/javascripts/modules/struct_test.js")

// Views
script(src="/javascripts/views/toolsView.js")
script(src="/javascripts/views/playerView.js")
