script#layer-template(type="text/template")
		<% for (var o=octave; o>0; o--) { %>
		<% _.each(pitches, function(pitch, i) { %>
		<% var midiPitch = ((12*(o+1))+(pitches.length-(i+1))); %>
		<div class="pitch <%= pitch %><%= o %> p-<%= midiPitch %>">
		<% for (var n=1; n<=sub; n++) { %>
		<% var cellId = block+"-"+sub+"-"+midiPitch+"-"+n; %>
		<div id="<%= cellId %>" class="cell sc-<%= n %>"></div>
		<% }; %>	
		</div>
		<% }); %>
		<% }; %>


script#layer-info-template(type="text/template")
	ul.layer-list
		<% _.each(layers, function(layer) { %>
		li
			button.edit-layer <%= layer.get("sub") %>
		<% }); %>
		li
			input.add-layer(type="text", placeholder=" +")