script#layer-template(type="text/template")
		<% for (var o=octave; o>0; o--) { %>
		<% _.each(pitches, function(pitch, i) { %>
		<% var midiPitch = ((12*(o+1))+(pitches.length-(i+1))); %>
		<div class="pitch <%= pitch %><%= o %> p-<%= midiPitch %>">
		<% for (var n=1; n<=sub; n++) { %>
		<% var cellId = block+"-"+sub+"-"+midiPitch+"-"+n; %>
		<div id="<%= cellId %>" class="cell sc-<%= n %>"></div>
		<% }; %>	
		</div>
		<% }); %>
		<% }; %>


script#block-template(type="text/template")
	ul.layers-tabs.cleafix
		//- <%= this.layersTabsTemplate(layers) %>
		<% _.each(layers, function(layer) { %>
		<% var selected = layer.get("editable") ? " selected" : ""; %>
		li
			<button class="edit-layer subi-<%= layer.get("sub") %><%= selected %>"><%= layer.get("sub") %></button>
		<% }); %>
		li
			input.add-layer(type="text", placeholder=" +")
	.layers

script#layers-tabs-template(type="text/template")
		<% _.each(layers, function(layer) { %>
		<% var selected = layer.get("editable") ? " selected" : ""; %>
		li
			<button class="edit-layer subi-<%= layer.get("sub") %><%= selected %>"><%= layer.get("sub") %></button>
		<% }); %>
		li
			input.add-layer(type="text", placeholder=" +")
