.DS_Store
npm-debug.log
node_modules
myTODOs
tmp
dump.rdb
public/stylesheets
public/javascripts/vendor/backbone.js
public/javascripts/vendor/backbone.min.js
public/javascripts/vendor/jquery.js
public/javascripts/vendor/jquery.min.js
public/javascripts/vendor/underscore.js
public/javascripts/vendor/underscore.min.js