.DS_Store
npm-debug.log
dump.rdb
node_modules

public/stylesheets
public/javascripts/vendor/backbone*.js
public/javascripts/vendor/jquery*.js
public/javascripts/vendor/underscore*.js
public/javascripts/vendor/runtime*.js
public/javascripts/jasmed.js

# component
components/
build/

# folder one should create to store all the files he wants to gitignore... of course!
gitignore/
