extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/style.css")

block scripts
	include includes/scripts

block content
	.module.instrument
		include includes/instrument
	.module.controls
		.tools
			include includes/tools
		.player
			include includes/player
	.module.editor
		include includes/editor		

block template
	include includes/templates
		