extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/style.css")

block scripts
	include includes/scripts

//TO-DO use includes for each moduleView
block content
	.module.instrument
			p instrument
	.module.tools
		.utils
			button.add-block add block
			button.zoom-in zoom in
			button.zoom-out zoom out
			p.export
				label export as: 
				input(name='password', type='text')
				button(type='submit').export-button BANG!
		.player
			p frère jacques...
			button.play play
			button.pause pause
			button.stop stop
	.module.editor
		.layer-info-win
			.layer-info
		.piano-win
			.piano
		.grid-win
			.grid

block template
	include includes/templates
		