extends layout

block scripts
	script(src="/socket.io/socket.io.js")

	// Vendor (order matters)
	script(src='/javascripts/vendor/jquery-1.7.2.min.js')
	script(src='/javascripts/vendor/underscore-min.js')
	script(src='/javascripts/vendor/backbone-min.js')

	// Backbone App
	script(src='/javascripts/jasmed.js')
	script(src='/javascripts/client.js')

	// Modules
	script(src='/javascripts/modules/editor.js')

block content
	section.editor
		.layer-info-win
			.layer-info
		.piano-win
			p piano
		.grid-win
			.grid
				.bloc.add-bloc
					p add


// TEMPLATE
block template
	script#layer-template(type="text/template")
		<% _.each(pitches, function(pitch, i) { %>
		<div class="pitch <%= pitch %> p-<%= i+1 %>">
		<% for (i=1; i<=sub; i++) { %>
		<div class="note sn-<%= i %>"></div>
		<% }; %>	
		</div>
		<% }); %>

	script#layer-info-template(type="text/template")
		<% _.each(layers, function(layer) { %>
		button
			<%= layer.get("sub") %>
		<% }); %>
		button.add-layer +