extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/style.css")

block scripts
	script(src="/socket.io/socket.io.js")

	// Vendor (order matters)
	script(src="/javascripts/vendor/jquery-1.7.2.min.js")
	script(src="/javascripts/vendor/underscore-min.js")
	script(src="/javascripts/vendor/backbone-min.js")
	script(src="/javascripts/vendor/audiolib.min.js")

	// Backbone App
	script(src="/javascripts/jasmed.js")
	//- script(src="/javascripts/client.js")

	// Modules
	script(src="/javascripts/modules/communicator.js")
	script(src="/javascripts/modules/utils.js")
	script(src="/javascripts/modules/structure.js")
	script(src="/javascripts/modules/editor.js")
	script(src="/javascripts/modules/player.js")

	// DRAG TO SELECT EXAMPLE
	//- script(src="/javascripts/vendor/jquery.dragToSelect.js")


block content
	section.instrument
			p instrument
	section.tools
		.utils
			p utils
		.player
			p player
	section.editor
		.layer-info-win
			.layer-info
		.piano-win
			.piano
		.grid-win
			.grid
				button.add-bloc +


// TEMPLATE
block template
	script#layer-template(type="text/template")
		<% _.each(pitches, function(pitch, i) { %>
		<div class="pitch <%= pitch %> p-<%= i+1 %>">
		<% for (n=1; n<=sub; n++) { %>
		<% var noteId = bloc+"-"+sub+"-"+(i+1)+"-"+n; %>
		<% var on = _.indexOf(noteOn, noteId) === -1 ? "" : "on"; %>
		<div id="<%= noteId %>" class="note sn-<%= n %> <%= on %>"></div>
		<% }; %>	
		</div>
		<% }); %>

	script#layer-info-template(type="text/template")
		ul.layer-list
			<% _.each(layers, function(layer) { %>
			li
				button.edit-layer <%= layer.get("sub") %>
			<% }); %>
			li
				input.add-layer(type="text", placeholder=" +")
		