extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/style.css")

block content
	include includes/flash

	if (session.login)
		p Welcome #{session.login}!

	p
		a(href='/app') THIS
		|  is what all the fuss is about.

	p some saved sequences:
		ul
			each file in files
				li
					a(href='/store/#{file}') #{file} 
	p 
		| you can also check out your 
		a(href='/session') session
		|.
	

