extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/style.css")

block content
	include includes/flash

	if (session.login)
		p Welcome #{session.login}!

	p main 
		a(href='/app') ROOM

	if files && files.length
		p some saved sequences:
			ul
				each file in files
					li
						a(href='/store/#{file}') #{file}
	else
		p no saved sequences so far.
	
	p 
		| you can also check out your 
		a(href='/session') session
		|.
	

