extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/old-style.css")

block content
	include includes/flash

	if (session.login)
		p Welcome #{session.login}!

	p
		| You can follow 
		a(href='/app') here
		|  the application development.
	br
	p 
		a(href='/draft') Here
		|  will be an old draft.
	p And there some saved sequences:
		ul
			each file in files
				li
					a(href='/store/#{file}') #{file} 
	p 
		| You can also check out your 
		a(href='/session') session
		|.
	

