extends layout

block content
	if (flash.warn)
		p.flash.warn= flash.warn
	if (session.login)
		p welcome #{session.login}
	p so far there isn't much here, apart from 
		a(href='/test') this
		|  but you'll love it soon!
	p check out your 
		a(href='/session') session
