extends layout

block content
	if (flash.warn)
		p.flash.warn= flash.warn
	if (session.login)
		p welcome #{session.login}!
	p so far there isn't much here but you'll love it soon! promise!
	p try out our first 
		a(href='/draft') draft
	p check out your 
		a(href='/session') session
