!!! 5
html
	head
		title JaSMEd
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
	body
		include includes/header
		#content.clearfix
			block content
		block template
		include includes/footer
		
