extends layout

block content
	h2= title
	include includes/flash
	form(method='post', action='/login')
		p
			label Username:
				input(name='username', type='text')
		p
			label Password:
				input(name='password', type='password')
		p
			button(type='submit') Login
