extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/style.css")

block content
	h2= title
	include includes/flash
	
	form(method='post', action='/login')
		p
			label Username:
				input(name='username', type='text')
		p
			label Password:
				input(name='password', type='password')
		p
			button(type='submit') Login
