/*
 * CSS reset
 */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
 * Styling
 */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 960px;
  padding: 30px;
}
a {
  color: #00b7ff;
}
header,
footer {
  padding: 0 20px;
  background: #e0e0e0;
}
header {
  overflow: hidden;
}
header h1 {
  float: left;
}
header span {
  color: #00b7ff;
}
header #credentials {
  float: right;
}
footer p {
  text-align: center;
}
#content {
  padding: 20px;
}
section {
  display: inline-block;
  vertical-align: top;
  background: #ddd;
}
.instrument {
  width: 15%;
}
.tools {
  width: 15%;
}
.editor {
  width: 70%;
}
.editor .layer-info-win {
  margin-left: 40px;
  background: #ddd;
  border: 1px solid;
  overflow: hidden;
}
.editor .layer-info {
  display: table-cell;
  white-space: nowrap;
}
.editor .bloc-layer-info {
  display: inline-block;
  width: 200px;
  height: 100%;
  border-right: 1px solid #aaa;
}
.editor .layer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.editor .layer-list li {
  float: left;
}
.editor .add-layer {
  width: 20px;
}
.editor .piano-win {
  float: left;
  width: 40px;
  height: 300px;
  background: #ddd;
  overflow: hidden;
}
.editor .piano {
  width: 40px;
  height: 480px;
  background: #ddd url("../images/grid-bg.png");
}
.editor .grid-win {
  position: relative;
  height: 300px;
  background: #ddd;
  border: 1px solid;
  overflow: hidden;
}
.editor .grid {
  display: table-cell;
  white-space: nowrap;
  background: #ddd url("../images/grid-bg.png");
}
.editor .bloc {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 200px;
  border-right: 1px solid #aaa;
}
.editor .add-bloc {
  display: inline-block;
}
.editor .layer {
  position: absolute;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.editor .pitch {
  display: table-row;
}
.editor .note {
  display: table-cell;
  height: 20px;
}
.editor .note.on {
  background: #00b7ff;
}
.editor .layer.editable {
  position: relative;
}
.editor .layer.editable .note:not(.editable) {
  border-right: 1px dotted #bbb;
}
.editor .login.thibaud {
  color: #44accf;
}
.editor .login.jaimito {
  color: #ee3e64;
}
.editor .login.acekat {
  color: #b7d84b;
}
.editor .login.esj {
  color: #8904b1;
}
.editor .login.grizix {
  color: #e2a741;
}
.editor .login.berthou {
  color: #000;
}
.editor .note.on.login-thibaud {
  background: #44accf;
}
.editor .note.on.login-jaimito {
  background: #ee3e64;
}
.editor .note.on.login-acekat {
  background: #b7d84b;
}
.editor .note.on.login-esj {
  background: #8904b1;
}
.editor .note.on.login-grizix {
  background: #e2a741;
}
.editor .note.on.login-berthou {
  background: #000;
}
.flash {
  display: inline-block;
  padding: 0 5px;
}
.warn {
  color: #df013a;
  background: #f5a9a9;
  border: 1px solid #df013a;
}
div.jquery-drag-to-select {
  background: #def;
  display: none;
  opacity: 0.3;
  z-index: 10;
  border: 1px solid #369;
}
div.jquery-drag-to-select.active {
  display: block;
}
