/*color variables*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 960px;
  padding: 30px;
}
a {
  color: #00b7ff;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-left {
  clear: left;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
#header,
#footer {
  padding: 0 20px;
  background: #f2f2f2;
}
#footer p {
  text-align: center;
}
.no {
  font-size: 0.5em;
  text-decoration: line-through;
}
#content {
  padding: 20px;
}
.flash {
  display: inline-block;
  padding: 5px;
}
.warn {
  color: #df013a;
  background: #f5a9a9;
  border: 1px solid #df013a;
}
.blue {
  color: #00b7ff;
}
.grid {
  width: 75%;
  height: 300px;
  margin: auto;
  background: #ddd;
  border: 1px solid;
  overflow: auto;
}
.grid-layer {
  display: table-cell;
  white-space: nowrap;
  width: 9999px;
}
.bar-container {
  display: inline-table;
  width: 25%;
  border-right: 1px solid #aaa;
}
.pitch {
  display: table-row;
}
.note {
  display: table-cell;
  width: 1%;
  height: 25px;
  border-right: 1px dotted #bbb;
}
.pitch:nth-child(odd) {
  background: #ccc;
}
.pitch:nth-child(even) {
  background: #ddd;
}
.login.thibaud {
  color: #44accf;
}
.login.jaimito {
  color: #ee3e64;
}
.login.acekat {
  color: #b7d84b;
}
.login.esj {
  color: #8904b1;
}
.login.grizix {
  color: #e2a741;
}
.login.berthou {
  color: #000;
}
.note.on.login-thibaud {
  background: #44accf;
}
.note.on.login-jaimito {
  background: #ee3e64;
}
.note.on.login-acekat {
  background: #b7d84b;
}
.note.on.login-esj {
  background: #8904b1;
}
.note.on.login-grizix {
  background: #e2a741;
}
.note.on.login-berthou {
  background: #000;
}
