!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/jquery-1.7.1.min.js")
		script(src="/javascripts/client.js") 
	
	body
		#container
			.note#do
				.box do
			
				.box
				.box
				.box
				.box
			
				.box
				.box
				.box
				.box
			
				.box
				.box
				.box
				.box
			
				.box
				.box
				.box
				.box
			
			.note#mi
				.box mi
			
				.box
				.box
				.box
				.box
			
				.box
				.box
				.box
				.box
			
				.box
				.box
				.box
				.box
			
				.box
				.box
				.box
				.box
			
			.note#sol
				.box sol
			
				.box
				.box
				.box
				.box
			
				.box
				.box
				.box
				.box
			
				.box
				.box
				.box
				.box
			
				.box
				.box
				.box
				.box